[submodule "Agency-doc"]
	path = Agency-doc
	url = https://github.com/The-Vibe-Company/Agency-doc.git
[submodule "multimodal-rag"]
	path = multimodal-rag
	url = https://github.com/QuivrHQ/multimodal-rag.git
